@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/theme';

$blackish:  #333;
$greyish:  #ccc;

body {
  background-color: $greyish;
}

.jumbotron {
  margin-top: 1em;
}
